body{
    margin-top: 60px;
	align-content: center;
	
	align-items: center;
	}
footer{
	bottom: 0;
	width: 100%;
	margin-bottom: 0;
	position: absolute;
	align-content: center;
}
#login{
	margin-top: 14%;
	width: 1278px;
	/*align-content: center;
	align-items: center;*/
}

#btn_registro{

	margin-right: 10px;
}
/*#btn_registroLogin{

	margin-bottom: 10px;
	margin-top: 10px;
}*/